Repository AY1920S1-CS2103T-F11-2/main, pull requests merged in 2019-10, with the labels that each got.

#82 Add tests for sort command and its dependencies
  src/main/java/io/xpire/logic/commands/SortCommand.java
  src/main/java/io/xpire/model/item/SortedUniqueItemList.java
  src/main/java/io/xpire/model/item/sort/MethodOfSorting.java
  src/test/java/io/xpire/logic/commands/CheckCommandTest.java
  src/test/java/io/xpire/logic/commands/SortCommandTest.java
  src/test/java/io/xpire/logic/parser/ParserUtilTest.java
  src/test/java/io/xpire/logic/parser/SortCommandParserTest.java
  src/test/java/io/xpire/logic/parser/XpireParserTest.java
  src/test/java/io/xpire/model/XpireTest.java
  src/test/java/io/xpire/model/item/ItemTest.java
  src/test/java/io/xpire/model/item/SortedUniqueItemListTest.java
  src/test/java/io/xpire/model/item/sort/MethodOfSortingTest.java
  src/test/java/io/xpire/testutil/TypicalItems.java
Labels: priority.Medium, type.Test

#92 Suggest closely related words when command executed displays no results
  build.gradle
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ArchitectureSequenceDiagram.puml
  docs/diagrams/AutoSortSequenceDiagram.puml
  docs/diagrams/BetterModelClassDiagram.puml
  docs/diagrams/CommitActivityDiagram.puml
  docs/diagrams/DeleteSequenceDiagram.puml
  docs/diagrams/LogicClassDiagram.puml
  docs/diagrams/ModelClassDiagram.puml
  docs/diagrams/StorageClassDiagram.puml
  docs/diagrams/UndoRedoState0.puml
  docs/diagrams/UndoRedoState1.puml
  docs/diagrams/UndoRedoState2.puml
  docs/diagrams/UndoRedoState3.puml
  docs/diagrams/UndoRedoState4.puml
  docs/diagrams/UndoRedoState5.puml
  docs/diagrams/UndoSequenceDiagram.puml
  docs/images/ArchitectureSequenceDiagram.png
  docs/images/BetterModelClassDiagram.png
  docs/images/CommitActivityDiagram.png
  docs/images/DeleteSequenceDiagram.png
  docs/images/LogicClassDiagram.png
  docs/images/ModelClassDiagram.png
  docs/images/StorageClassDiagram.png
  docs/images/UiClassDiagram.png
  docs/images/UndoRedoState0.png
  docs/images/UndoRedoState1.png
  docs/images/UndoRedoState2.png
  docs/images/UndoRedoState3.png
  docs/images/UndoRedoState4.png
  docs/images/UndoRedoState5.png
  docs/images/UndoSequenceDiagram.png
  src/main/java/io/xpire/commons/core/Messages.java
  src/main/java/io/xpire/commons/util/StringUtil.java
  src/main/java/io/xpire/logic/commands/SearchCommand.java
  src/main/java/io/xpire/logic/parser/ParserUtil.java
  src/main/java/io/xpire/logic/parser/XpireParser.java
  src/main/java/io/xpire/model/Model.java
  src/main/java/io/xpire/model/ModelManager.java
  src/main/java/io/xpire/model/item/ContainsKeywordsPredicate.java
  src/main/java/io/xpire/model/item/Name.java
  src/main/java/io/xpire/model/item/sort/MethodOfSorting.java
  src/main/java/io/xpire/ui/CommandBox.java
  src/test/java/io/xpire/commons/util/StringUtilTest.java
  src/test/java/io/xpire/logic/commands/AddCommandTest.java
  src/test/java/io/xpire/logic/commands/SearchCommandTest.java
  src/test/java/io/xpire/logic/parser/SortCommandParserTest.java
Labels: status.ReviewRequested

#107 Update DG & Refactor tests
  docs/DeveloperGuide.adoc
  docs/diagrams/UndoSequenceDiagram.puml
  src/main/java/io/xpire/logic/parser/ArgumentMultimap.java
  src/main/java/io/xpire/logic/parser/ArgumentTokenizer.java
  src/main/java/io/xpire/logic/parser/CliSyntax.java
  src/main/resources/view/CardListPanel.fxml
  src/main/resources/view/ItemCard.fxml
  src/main/resources/view/ItemListPanel.fxml
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/StatusBarFooter.fxml
  src/test/java/io/xpire/logic/LogicManagerTest.java
  src/test/java/io/xpire/logic/commands/AddCommandTest.java
  src/test/java/io/xpire/logic/commands/DeleteCommandTest.java
  src/test/java/io/xpire/logic/commands/TagCommandTest.java
  src/test/java/io/xpire/logic/parser/AddCommandParserTest.java
  src/test/java/io/xpire/logic/parser/ArgumentTokenizerTest.java
  src/test/java/io/xpire/logic/parser/ParserUtilTest.java
  src/test/java/io/xpire/logic/parser/TagCommandParserTest.java
  src/test/java/io/xpire/logic/parser/XpireParserTest.java
  src/test/java/io/xpire/model/XpireTest.java
  src/test/java/io/xpire/model/item/ItemTest.java
  src/test/java/io/xpire/model/item/QuantityTest.java
  src/test/java/io/xpire/model/item/ReminderThresholdExceededPredicateTest.java
  src/test/java/io/xpire/model/item/SortedUniqueItemListTest.java
  src/test/java/io/xpire/storage/JsonAdaptedItemTest.java
  src/test/java/io/xpire/testutil/ItemBuilder.java
  src/test/java/io/xpire/testutil/TypicalItems.java
  src/test/java/io/xpire/testutil/TypicalItemsFields.java
Labels: type.Test

#110 Clean up JsonSerializableXpireTest
  src/main/java/io/xpire/commons/util/StringUtil.java
  src/test/data/JsonSerializableXpireTest/typicalItemsXpire.json
  src/test/java/io/xpire/storage/JsonSerializableXpireTest.java
  src/test/java/io/xpire/storage/StorageManagerTest.java
  src/test/java/io/xpire/testutil/ExpiryDateTrackerBuilder.java
  src/test/java/io/xpire/testutil/ItemUtil.java
  src/test/java/io/xpire/testutil/TypicalItems.java
  src/test/java/io/xpire/testutil/TypicalItemsFields.java
Labels: type.Test

#121 Update recommendations and DG
  docs/DeveloperGuide.adoc
  docs/diagrams/AutoSortAddPartSequenceDiagram.puml
  docs/diagrams/AutoSortAddSequenceDiagram.puml
  docs/diagrams/AutoSortViewPartSequenceDiagram.puml
  docs/diagrams/AutoSortViewSequenceDiagram.puml
  docs/diagrams/CommitActivityDiagram.puml
  docs/diagrams/FindSimilarSequenceDiagram.puml
  docs/diagrams/RecommendationsActivityDiagram.puml
  docs/diagrams/RecommendationsSortSequenceDiagram.puml
  docs/diagrams/SortParserPartSequenceDiagram.puml
  docs/diagrams/SortSequenceDiagram.puml
  docs/images/AutoSortAddPartSequenceDiagram.png
  docs/images/AutoSortAddSequenceDiagram.png
  docs/images/AutoSortViewPartSequenceDiagram.png
  docs/images/AutoSortViewSequenceDiagram.png
  docs/images/CommitActivityDiagram.png
  docs/images/FindSimilarSequenceDiagram.png
  docs/images/RecommendationUnknownCommandActivityDiagram.png
  docs/images/RecommendationsExample1.png
  docs/images/RecommendationsExample2.png
  docs/images/RecommendationsSearchSortActivityDiagram.png
  docs/images/RecommendationsSortSequenceDiagram.png
  docs/images/SortActivityDiagram.png
  docs/images/SortParserPartSequenceDiagram.png
  docs/images/SortSequenceDiagram.png
  src/main/java/io/xpire/model/ModelManager.java
Labels: status.ReviewRequested

#126 Edit UG and exception message for Xpire commands in Replenish List
  docs/UserGuide.adoc
  src/main/java/io/xpire/commons/core/Messages.java
  src/main/java/io/xpire/commons/util/StringUtil.java
  src/main/java/io/xpire/logic/LogicManager.java
  src/main/java/io/xpire/logic/commands/ClearCommand.java
  src/main/java/io/xpire/logic/commands/SearchCommand.java
  src/main/java/io/xpire/logic/commands/SetReminderCommand.java
  src/main/java/io/xpire/logic/commands/ShiftToMainCommand.java
  src/main/java/io/xpire/logic/commands/ShiftToReplenishCommand.java
  src/main/java/io/xpire/logic/commands/SortCommand.java
  src/main/java/io/xpire/logic/commands/TagCommand.java
  src/main/java/io/xpire/logic/commands/ViewCommand.java
  src/main/java/io/xpire/logic/parser/ParserUtil.java
  src/main/java/io/xpire/logic/parser/ReplenishParser.java
  src/main/java/io/xpire/logic/parser/SortCommandParser.java
  src/main/java/io/xpire/logic/parser/ViewCommandParser.java
  src/main/java/io/xpire/logic/parser/XpireParser.java
  src/main/java/io/xpire/model/ModelManager.java
  src/main/java/io/xpire/model/Xpire.java
  src/main/java/io/xpire/model/item/ExpiryDate.java
  src/main/java/io/xpire/model/item/ListToView.java
  src/main/java/io/xpire/model/item/SortedUniqueXpireItemList.java
  src/main/java/io/xpire/model/item/sort/XpireMethodOfSorting.java
  src/main/java/io/xpire/storage/JsonSerializableList.java
  src/main/java/io/xpire/ui/ItemCard.java
  src/main/java/io/xpire/ui/ViewPanel.java
Labels: status.ReviewRequested
